<h1>Your Temporary Credentials</h1>
<p>Hi there,</p>
<p>An account has been created for you on the Student Peer Review platform by your lecturer.</p>
<p>Your temporary password is: <strong><%= @temp_password %></strong></p>
<p>We strongly recommend you change this password immediately. Click the link below to set your own password:</p>
<p><a href="<%= @reset_url %>"><%= @reset_url %></a></p>
<p>This link will expire in 24 hours.</p>
