:root{
  --bg-color: beige;
}

body{
  background-color: var(--bg-color);
}

#login{
  background-color: burlywood;
  justify-content: center;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: auto;
  margin-top: 20%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px;
  position: relative;
}


h1{
  color: rgb(255, 71, 71);
  font-family: sans-serif;
  font-weight: 900;
}

#navbar{
  background-color: burlywood;
  justify-content: left;
  position:absolute;
  height: 100%;
  width: 200px;
  text-align: center;
}

#topbar{
  background-color: rgb(26, 113, 171);
  justify-content: center;
  width: 100%;
  text-align: center;
  padding: 1px;
  margin: auto;
  text-align: left;
  margin-top: auto;
  
}

li{
  list-style-type: none;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: darkcyan;
  
}