{% extends "layout.html" %}

{% block contentBackground %}
<div id="aboutUs">
  <h2>About Us</h2>
  <p>Our website is a platform for students to view and add courses to their schedule. 
    We provide a user-friendly interface for students to easily navigate through the website. 
    We also provide a feature for students to upload a CSV file with their course information. 
    This feature is especially useful for students who have a lot of courses to add to their schedule. 
    We hope that our website will help students manage their courses more efficiently and effectively.</p>
  <h2>Our Team</h2>
  <p>Our team consists of four members: John, Jane, Jack, and Jill. 
    We are all students at the University of Toronto and we are passionate about helping other students succeed. 
    We have worked hard to create this website and we hope that it will be a valuable resource for students. 
    If you have any questions or feedback, please feel free to contact us. 
    We would love to hear from you!</p>
</div>
<div id="contactUs">
  <h2>Contact Us</h2>
  <p>Email: </p>

</div>
<div id="feedbackForm">
  <h2>Feedback Form</h2>
  <form action="/feedback" method="post">
    <label for="feedbackName">Name:</label><input type="text" id="feedbackName" name="feedbackName"><br><br>
    <label for="feedbackEmail">Email:</label><input type="text" id="feedbackEmail" name="feedbackEmail"><br><br>
    <label for="feedbackMessage">Message:</label><textarea id="feedbackMessage" name="feedbackMessage"></textarea><br><br>
    <input type="submit" value="Send" onClick="onClick()" id="feedbackbtn">
  </form>
</div>
{% endblock %}