{% extends "layout.html" %}

{% block contentBackground %}
<div id="aboutUsHeading">
  <h2>About Us</h2>
  <p>
    Our website is a platform for students to view and give rating to their teammates.
    We provide a user-friendly interface for students to easily navigate through the website.
    We also provide a feature for lecturer to upload a CSV file with their course information.
    This feature is especially useful for lecturer who have a lot of courses to add to their schedule.
    We hope that our website will help lecturers and student alike manage their courses more efficiently and effectively.
  
  </p>
  <h2>Our Team</h2>
  <p>Our team consists of four members: Jax, Calvin and Eric.
    We are all students at the Multimedia University and we are passionate about helping other students succeed.
    We have worked hard to create this website and we hope that it will be a valuable resource for students and lecturer.
    If you have any questions or feedback, please feel free to contact us.
    We would love to hear from you!
  </p>
</div>
<div id="aboutUs">
    <div class="aboutUs">
      <div class="aboutUsText boxShadow" style="display: block;">
        <div class="quote">
          "Born to be backend, forced to be fullstack."
        </div>
        <p>Hi, I am Jax. I am the guy that made most of the things you see. Working on this project allowed me to experience a magnitude of scenarios, those of which may or may not have been unpleasant. As such, I will exercise my right to remain silent and just say, "I'm tired." </p>
      </div>
      <img src="static/img/jegg.jpg" alt="Jax Profile pic">
    </div>
    <div class="aboutUs">
      <img src="static/img/ChongMengHang.jpg" alt="Calvin Profile pic">
      <div class="aboutUsText">
        <p>Hi, I am Calvin. I am the backend developer. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus egestas dui ex, eget porta nulla vulputate non. Vivamus gravida tristique fringilla. Donec ac elit sed lacus dignissim condimentum elementum vel diam. Nunc finibus gravida mauris, sit amet vulputate metus cursus in. Ut sollicitudin risus non imperdiet ullamcorper. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque tristique viverra felis, at egestas orci. Donec sit amet pharetra urna.</p>
      </div>
    </div>
    <div class="aboutUs">
      <div class="aboutUsText">
        <p>Hi, I am Eric. I am the frontend developer. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus egestas dui ex, eget porta nulla vulputate non. Vivamus gravida tristique fringilla. Donec ac elit sed lacus dignissim condimentum elementum vel diam. Nunc finibus gravida mauris, sit amet vulputate metus cursus in. Ut sollicitudin risus non imperdiet ullamcorper. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque tristique viverra felis, at egestas orci. Donec sit amet pharetra urna.</p>
      </div>
      <img src="static/img/EricPlaceholder.png" alt="Eric Profile pic">
    </div>

</div>
<div class="center">
  <a href="https://github.com/JaxChoong/Student-Peer-Review-Website" class="btn btn-primary" target="_blank">
    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20px" height="20px" viewBox="0,0,256,256">
      <g fill="#ffffff" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(4,4)"><path d="M40,10c-1.104,0 -2,0.896 -2,2c0,1.104 0.896,2 2,2h7.17188l-16.58594,16.58594c-0.781,0.781 -0.781,2.04713 0,2.82812c0.391,0.391 0.90206,0.58594 1.41406,0.58594c0.512,0 1.02306,-0.19494 1.41406,-0.58594l16.58594,-16.58594v7.17188c0,1.104 0.896,2 2,2c1.104,0 2,-0.896 2,-2v-12c0,-1.104 -0.896,-2 -2,-2zM18,12c-3.309,0 -6,2.691 -6,6v28c0,3.309 2.691,6 6,6h28c3.309,0 6,-2.691 6,-6v-12c0,-1.104 -0.896,-2 -2,-2c-1.104,0 -2,0.896 -2,2v12c0,1.103 -0.897,2 -2,2h-28c-1.103,0 -2,-0.897 -2,-2v-28c0,-1.103 0.897,-2 2,-2h12c1.104,0 2,-0.896 2,-2c0,-1.104 -0.896,-2 -2,-2z"></path></g></g>
    </svg>
    <span style="margin-left: 0;">Visit our Github Repository!</span>
  </a>
</div>
{% endblock %}