{% extends "layout.html" %}

{% block contentBackground %}
<div class="flashes"></div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    // loading icon, add courses button, and input fields
    const loadingSpinner = document.querySelector('.loading');
    const addCoursesBtn = document.getElementById('addCoursesbtn');
    const inputs  = document.querySelectorAll('.form-control');
    loadingSpinner.style.display = 'none';

    //function to check if input fields are filled
    function checkInputs() {
      let allFilled = true;
      inputs.forEach(function(input) {
        if (input.required && input.value.trim() === '') {
          allFilled = false;
        }
      });
      addCoursesBtn.disabled = !allFilled;
    }

    inputs.forEach(function(input) {
      input.addEventListener('input', checkInputs);
    });
    // if button clicked, show loading cuz supabase slow af :skull:
    addCoursesBtn.addEventListener('click', function() {
      loadingSpinner.style.display = 'flex';
    });

    function toggleArrow(button) {
      var arrowImg = button.querySelector('.arrow');
      arrowImg.classList.toggle('rotate');
    }

    var collapseBtn = document.getElementById('introCollapse');
    collapseBtn.addEventListener('click', function() {
      toggleArrow(collapseBtn);
    });

    const defaultIntro = `{{ introduction|safe  }}`;  // turn intro text into string
    const editDefaultIntroBtn = document.getElementById('editDefaultIntroBtn');
    const introTextarea = document.getElementById('intro');
    var introText = introTextarea.value;

    editDefaultIntroBtn.addEventListener('click', function(event) {
      // prevents submit action, then puts default value into the field
      event.preventDefault();
      introTextarea.value = defaultIntro;  
      introTextarea.classList.remove('edited');
    });

    introTextarea.addEventListener('input', function() {
      // check if user actually changes anything after clicking edit
      if ('{{introText|safe}}' !== defaultIntro) {
        introTextarea.classList.add('edited');
      } else {
        introTextarea.classList.remove('edited');
      }
  });
});
</script>
<div id="addingCourses" >
{% if session["id"] %}
<h2 style="margin-bottom: 0;">Add Course</h2>
  <form id="uploadForm" action="/addingCourses" method="post" enctype="multipart/form-data"><br>
    <div class="lecturerForm" style="margin-top: 0;">
      <h2>Course Details</h2>
      <label for="courseId" style="margin-right: 5px;">Course ID:</label><input type="text" id="courseId" name="courseId" required class ="form-control" style="width: 300px;margin-bottom: 20px;">
      <label for="courseName"  style="margin-right: 5px;">Course Name:</label><input type="text" id="courseName" name="courseName" required class ="form-control" style="width: 300px;">
      <div style="margin: auto; display: flex; align-items: center; gap: 10px;">
        <label for="startDate{{ courseId }}">Open Peer Review From</label>
        <input type="date"  name="startDate" style="margin: 10px; display: inline;width: 150px;" class ="form-control" required >
        
        <label for="endDate{{ courseId }}">To</label>
        <input type="date"  name="endDate" style="margin: 10px; display: inline; width: 150px;" required class ="form-control">
      </div>
      <div class="uploadIntro">
        <button data-bs-toggle="collapse" type="button" data-bs-target=".uploadIntroForm" style="border:none;border-radius: 2.5px;text-align: center;align-items: center;height: max-content; font-size: 1em; background-color: white;" id="introCollapse" class="boxShadow">
          <h4 style="margin-left:0;margin: 2px;">
            <img src="/static/img/down-arrow.png" alt="arrow" style="width: 20px; height: 20px;margin:0;" class="arrow">
            Set Introduction  ( Optional )
          </h4>
        </button>
        <div class="collapse uploadIntroForm">
          <h5 style="margin-bottom: 0;">Introduction is shown at the top of the page and is optional to set. If left empty, the default introduction is shown.</h5>
          <p style="margin-bottom: 0;">(Markdown supported)<button  id="editDefaultIntroBtn" class="submitBtn" style="margin-left: 10px;">Edit Default Intro</button></p>
          <textarea id="intro" name="intro" style="margin: 10px 0;width: 1000px; height: 300px;"placeholder="Example: 
          {{introduction}}"></textarea>
        </div>
      </div>
    </div>

    
      <h3 style="margin-top: 5px ;">Upload Class Groupings</h3>
      Please Upload a CSV file with the following format:
      <br>
      <button type="button" id="downloadTemplateBtn" class="downloadBtn">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" height="17px" width="17px"><g stroke-width="0" id="SVGRepo_bgCarrier"></g><g stroke-linejoin="round" stroke-linecap="round" id="SVGRepo_tracerCarrier"></g><g id="SVGRepo_iconCarrier"> <g id="Interface / Download"> <path stroke-linejoin="round" stroke-linecap="round" stroke-width="2" stroke="#f1f1f1" d="M6 21H18M12 3V17M12 17L17 12M12 17L7 12" id="Vector"></path> </g> </g></svg>
        Download CSV Template
      </button>
      <br>
      <div style="display: flex; margin-top: 10px;">
        <input type="file" id="csvFile" name="file" accept=".csv" required class ="form-control" style="width:300px;display: inline;padding-bottom: 0;height: max-content;padding: 10px;">
        <input type="hidden" id="sectionId" name="sectionId">
        <button type="submit" id="addCoursesbtn" class="addCoursesbtn" disabled>Create Course</button>
        <div class="loading">
          <div class="spinner-border text-primary center" role="status" style="margin: auto;" >
          <span class="visually-hidden">Loading...</span>
          </div> 
        </div>
      </div>
      
  </form>

  <!-- Flash message display area -->
  <div class="flashes"></div>

  <!-- script to handle the file from frontend using jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function () {
      $('#uploadForm').on('submit', function (event) {
        event.preventDefault();
        let formData = new FormData(this);
        
        introText = $('#intro').val();
         // Check if the textarea is in the edited state and its value is 'None'
        if (!$('#intro').hasClass('edited') && '{{introText|safe}}' === `{{ defaultIntro|safe }}`) {
          formData.set('intro', '');  // Set to empty string if no changes were made
        }

      $.ajax({
        // sends form to flask, and then waits for response
        url: '/addingCourses',
        type: 'POST',
        data: formData,
        processData: false,
        contentType: false,

        success: function (response, status, xhr) {
          // if response is successful
          if (xhr.getResponseHeader('Content-Disposition')) {
            // If the response contains a file, prompt the user to download it
            const filename = 'temp_user_creds.csv';
            const blob = new Blob([response], { type: 'text/csv' });
            const link = document.createElement('a');
            link.href = window.URL.createObjectURL(blob);
            link.download = filename;
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
            showFlashMessage(response.message, response.category);
            window.location.href = '/dashboard';
          } else {
            // Handle success messages
            showFlashMessage(response.message, response.category);
            window.location.href = '/dashboard';
          }
        },
        error: function (error) {
          // if response fails then show error message
          if (error.responseJSON) {
            showFlashMessage(error.responseJSON.message, error.responseJSON.category);
          } else {
            console.error('Error uploading file:', error);
          }
          // hide the loding icon and disable the create course btn
          $('#addCoursesbtn').prop('disabled', true);
          $('.loading').hide();
        }
      });
      });

      $('#downloadTemplateBtn').on('click', function () {
        // Initiate file download
        window.location.href = '/downloadFile';

        // After a short delay, redirect to the addingCourses page
        setTimeout(function () {
          window.location.href = '/addingCourses';
        }, 2000); // Adjust the delay as necessary
      });
    });

    // Function to show flash messages
    function showFlashMessage(message, category) {
      const flashContainer = document.createElement('div');
      flashContainer.className = `alert alert-${category}`;
      flashContainer.textContent = message;

      const flashMessages = document.querySelector('.flashes');
      if (flashMessages) {
        flashMessages.appendChild(flashContainer);
      } else {
        const body = document.querySelector('body');
        body.insertAdjacentHTML('afterbegin', `<div class="flashes">${flashContainer.outerHTML}</div>`);
      }

      setTimeout(() => {
        flashContainer.remove();
      }, 5000);
    }
  </script>
</div>
{% endif %}
{% endblock %}
