{% extends "layout.html" %}

{% block contentBackground %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    function toggleArrow(button) {
      var arrowImg = button.querySelector('.arrow');
      arrowImg.classList.toggle('rotate');
    }

    var collapseBtn = document.getElementById('introCollapse');
    collapseBtn.addEventListener('click', function() {
      toggleArrow(collapseBtn);
    });

    const defaultIntro = `{{ introduction|safe  }}`;
    const editDefaultIntroBtn = document.getElementById('editDefaultIntroBtn');
    const introTextarea = document.getElementById('intro');
    var introText = introTextarea.value;

    editDefaultIntroBtn.addEventListener('click', function(event) {
      event.preventDefault();
      introTextarea.value = defaultIntro;  
      introTextarea.classList.remove('edited');
    });

    introTextarea.addEventListener('input', function() {
      if ('{{introText|safe}}' !== defaultIntro) {
        introTextarea.classList.add('edited');
      } else {
        introTextarea.classList.remove('edited');
      }
  });
});
</script>
<div id="addingCourses" >
{% if session["id"] %}
<h2 style="margin-bottom: 0;">Add Course</h2>
  <form id="uploadForm" action="/addingCourses" method="post" enctype="multipart/form-data"><br>
    <div class="lecturerForm" style="margin-top: 0;">
      <h2>Course Details</h2>
      <label for="courseId" style="margin-right: 5px;">Course ID:</label><input type="text" id="courseId" name="courseId" required><br><br>
      <label for="courseName"  style="margin-right: 5px;">Course Name:</label><input type="text" id="courseName" name="courseName" required><br><br>
      <div style="margin: auto; display: flex; align-items: center; gap: 10px;">
        <label for="startDate{{ courseId }}">Open Peer Review From</label>
        <input type="date"  name="startDate" style="margin: 10px; display: inline;" required>
        
        <label for="endDate{{ courseId }}">To</label>
        <input type="date"  name="endDate" style="margin: 10px; display: inline;" required>
      </div>
      <div class="uploadIntro">
        <button data-bs-toggle="collapse" type="button" data-bs-target=".uploadIntroForm" style="border-radius: 2.5px;text-align: center;align-items: center;" id="introCollapse">
          <h4 style="margin-left:0;margin: 2px;">
            <img src="/static/img/down-arrow.png" alt="arrow" style="width: 20px; height: 20px;margin:0;" class="arrow">
            Set Introduction  ( Optional )
          </h4>
        </button>
        <div class="collapse uploadIntroForm">
          <h5 style="margin-bottom: 0;">Introduction is shown at the top of the page and is optional to set. If left empty, the default introduction is shown.</h5>
          <p style="margin-bottom: 0;">(Markdown supported)<button  id="editDefaultIntroBtn" class="submitBtn" style="margin-left: 10px;">Edit Default Intro</button></p>
          <textarea id="intro" name="intro" style="margin: 10px 0;width: 1000px; height: 300px;"placeholder="Example: 
          {{introduction}}"></textarea>
        </div>
      </div>
    </div>

    
      <h3 style="margin-top: 5px ;">Upload Class Groupings</h3>
      Please Upload a CSV file with the following format:
      <br>
      <button type="button" id="downloadTemplateBtn" class="downloadBtn">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" height="17px" width="17px"><g stroke-width="0" id="SVGRepo_bgCarrier"></g><g stroke-linejoin="round" stroke-linecap="round" id="SVGRepo_tracerCarrier"></g><g id="SVGRepo_iconCarrier"> <g id="Interface / Download"> <path stroke-linejoin="round" stroke-linecap="round" stroke-width="2" stroke="#f1f1f1" d="M6 21H18M12 3V17M12 17L17 12M12 17L7 12" id="Vector"></path> </g> </g></svg>
        Download CSV Template
      </button>
      <br>
      <input type="file" id="csvFile" name="file" accept=".csv" required>
      <input type="hidden" id="sectionId" name="sectionId">
      <button type="submit" id="addCoursesbtn">Upload</button>
  </form>

  <!-- Flash message display area -->
  <div class="flashes"></div>

  <!-- script to handle the file from frontend using jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function () {
      $('#uploadForm').on('submit', function (event) {
        event.preventDefault();
        let formData = new FormData(this);
        
        introText = $('#intro').val();
         // Check if the textarea is in the edited state and its value is 'None'
        if (!$('#intro').hasClass('edited') && '{{introText|safe}}' === `{{ defaultIntro|safe }}`) {
          formData.set('intro', '');  // Set to empty string if no changes were made
        }

        $.ajax({
          url: '/addingCourses',
          type: 'POST',
          data: formData,
          processData: false,
          contentType: false,
          success: function (response) {
            showFlashMessage(response.message, response.category);
            window.location.href = '/dashboard';
          },
          error: function (error) {
            if (error.responseJSON) {
              showFlashMessage(error.responseJSON.message, error.responseJSON.category);
            } else {
              console.error('Error uploading file:', error);
            }
          }
        });
      });

      $('#downloadTemplateBtn').on('click', function () {
        // Initiate file download
        window.location.href = '/downloadFile';

        // After a short delay, redirect to the addingCourses page
        setTimeout(function () {
          window.location.href = '/addingCourses';
        }, 2000); // Adjust the delay as necessary
      });
    });

    // Function to show flash messages
    function showFlashMessage(message, category) {
      const flashContainer = document.createElement('div');
      flashContainer.className = `alert alert-${category}`;
      flashContainer.textContent = message;

      const flashMessages = document.querySelector('.flashes');
      if (flashMessages) {
        flashMessages.appendChild(flashContainer);
      } else {
        const body = document.querySelector('body');
        body.insertAdjacentHTML('afterbegin', `<div class="flashes">${flashContainer.outerHTML}</div>`);
      }

      setTimeout(() => {
        flashContainer.remove();
      }, 5000);
    }
  </script>
</div>
{% endif %}
{% endblock %}
