<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SPRS</title>
</head>
<body>
  <form action="/changePassword" method = "post">This will change password<br>
    <label for="currentPassword">Current Password </label><input type="password" id="currentPassword" name="currentPassword"><br><br>
    <label for="newPassword">New Password</label><input type="password" id="newPassword" name="newPassword"><br><br>
    <label for="confirmPassword">Confirm Password</label><input type="password" id="confirmPassword" name="confirmPassword"><br><br>
    <input type="submit" value="Change Password" onClick="onClick()">
  </form>
</body>
</html>