{%extends "layout.html"%}
{%block contentBackground%}
  <div id="changePassword" class="center">
  <form action="/changePassword" method = "post" style="justify-content: center; padding: auto;"><h1 style="margin: 0;">Update Password</h1><br>
    <label for="currentPassword" style="margin-top: 10px;">Current Password: </label><input type="password" id="currentPassword" name="currentPassword" class ="form-control" style="width: 400px;margin-bottom: 10px;" required>
    <label for="newPassword">New Password: </label><input type="password" id="newPassword" name="newPassword" class ="form-control" style="width: 400px;margin-bottom: 10px;" required>
    <label for="confirmPassword">Confirm Password: </label><input type="password" id="confirmPassword" name="confirmPassword" class ="form-control" style="width: 400px;margin-bottom: 10px;" required>
    <input type="submit" value="Change Password" onClick="onClick()" class="submitBtn">
  </form>
  </div>
{% endblock %}