{%extends "layout.html"%}
{%block contentBackground%}
  <form action="/changePassword" method = "post">This will change password<br>
    <label for="currentPassword">Current Password </label><input type="password" id="currentPassword" name="currentPassword"><br><br>
    <label for="newPassword">New Password</label><input type="password" id="newPassword" name="newPassword"><br><br>
    <label for="confirmPassword">Confirm Password</label><input type="password" id="confirmPassword" name="confirmPassword"><br><br>
    <input type="submit" value="Change Password" onClick="onClick()">
  </form>
{% endblock %}