{%extends "dashboard.html"%}
{%extends "errormsg.html"%}
{%extends "grouping"%}
{%extends "StudentPeerReview.html"%}
{%extends "login.html"%}
{%extends "studentgroup.html"%}


<!-- {%block subjects%}
  <div id=subjects>
    <h2>{{subjectName}}</h2>
{%endblock%} -->

{%block title}
<h1>SPRS</h1>
{%endblock%}

{%block navbar%}
<div id="navbar">
  <nav>
      <div id="loginName">
        <h3>Logged in as {{ name }}</h3>
      </div>
    <div id="Navigation">
      <ul>
        <li><a href="dashboard">Home</a></li>
        <li><a href="">Assignment</a></li>
        <li><a href="login">Register</a></li>
        <li><a href="about">About</a></li>
        <li><a href="logout">Log Out</a></li>
      </ul>
    </div>
  </nav>
{%endblock%}