{% extends "layout.html" %}

{% block contentBackground %}
<div id="customizingQuestions">
    <h2>Customizing Questions</h2>
    <ol id="rulesForQues">
        <li>Customize the questions for the peer review here.</li>
        <li>Remember to keep the questions clear and concise.</li>
        <li>Do not include any personal information in the questions.</li>
    </ol>
    <br>

    <h3>Profiles</h3>
    <form method="POST" action="/addProfiles">
        <div>
            <label for="profileName" class="form-label" style="margin-right: 5.5px;">New Profile Name:</label>
            <input type="text" placeholder="Enter Profile Name" id="profileName" name="profileName" style="margin: 0 10px 0 2px; border: 1px solid #5c5c5c; border-radius: 2px;" required>
            <button type="submit" id="addCoursesbtn">Add Profile</button>
        </div>
    </form>
    <br>
    <div class="accordion" id="accordionExample">
        {% for layout in layouts %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading{{ layout.id }}">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ layout.id }}" aria-expanded="false" aria-controls="collapse{{ layout.id }}">
                    {{ layout.layoutName }}
                </button>
            </h2>
            <div id="collapse{{ layout.id }}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th width="10%">Question ID</th>
                                <th width="10%">Question No.</th>
                                <th width="80%">Question</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for question in layout.layoutQuestions %}
                            <tr>
                                <td>{{ question.id }}</td>
                                <td>{{ loop.index }}</td>
                                <td>{{ question.question }}</td>
                                <td>
                                {% if layout.id != 1 %}    
                                    <form method="POST" action="/deleteQuestion">
                                        <div class="mt-3">
                                            <input type="hidden" name="questionId" value="{{ question.id }}">
                                            <input type="hidden" name="layoutId" value="{{ layout.id }}">
                                            <button class="py-1 px-2 text-white bg-danger border border-0 rounded-3" type="submit">Delete</button>
                                        </div>
                                    </form>
                                {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% if layout.id != 1 %}
                        <form method="POST" action="/addQuestion">
                            <div>
                                <input type="hidden" name="layoutId" value="{{ layout.id }}">
                                <label for="question" class="form-label">Question:</label>
                                <input type="text" placeholder="Enter Question to be Added." id="question" name="question" required>
                                <button type="submit" id="addCoursesbtn" autofocus>Add Question</button>
                            </div>
                        </form>
                    
                        <form method="POST" action="/deleteProfile">
                            <div style="margin-top: 20px;">
                                <input type="hidden" name="layoutId" value="{{ layout.id }}">
                                <button type="submit" style="background-color:red;box-shadow: rgba(99, 99, 99, 0.5) 0px 2px 8px 0px; margin: 10px; border-radius: 5px;color: white;">Delete Profiles</button>
                            </div>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}