{%extends "layout.html"%}
{%block contentBackground%}
{% if session['id'] %}
<div id="addCoursesbtn">
  <a href="/addingCourses"><button>Add Courses</button></a>
</div>
{% endif %}
<div id="dashboard"> <!--This block can use variable subjectName-->
  {%for course in courses%}
  <div id="subjectName" class="course">
    <form action="/studentPeerReviewPage" method="POST">
      <button name = "courseId" value="{{ course[0] | join(' ')}}">
        <h2>{{ course[0] | join(' ')}}</h2>
        <h2>{{ course[1] | join(' ')}}</h2>
      </button>
    </form>
  </div>
  {%endfor%}
</div>
{%endblock%}