<!DOCTYPE html>
<html lang="en">
  <header>
  <title>Student Peer Review System</title>
  <link href="/static/style.css" rel="stylesheet">
  </header>
<body>
  <div id="title">
    <h1>SPRS</h1>
  </div>
  <div id="dashboard"> <!--This block can use variable subjectName-->
      <!-- {%block subjects%} 
      {%endblock%} -->
      <div id="subjectName"> <!--TODO: ADD FUNCTION TO THE DIV/BUTTON-->
          <h2>{{subjectName1}}1</h2>
      </div>
      <div id="subjectName">
        <h2>{{subjectName2}}2</h2>
    </div>
    <div id="subjectName">
      <h2>{{subjectName3}}3</h2>
  </div>
  <div id="subjectName">
    <h2>{{subjectName4}}4</h2>
  </div>
  <div id="subjectName">
    <h2>{{subjectName5}}5</h2>
  </div>
  <div id="subjectName">
    <h2>{{subjectName6}}6</h2>
  </div>
  </div>
  <div id="navbar">
    <nav>
        <div id="loginName">
          <h3>Logged in as {{ name }}</h3>
        </div>
      <div id="Navigation"> 
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="">Assignment</a></li>
          <li><a href="login">Register</a></li>
          <li><a href="">About</a></li>
          <li><a href="logout">Log Out</a></li>
        </ul>
      </div>
    </nav>
</body>
</html>