{% extends "layout.html" %}
{% block contentBackground %}
{% if session['id'] %}
<div>
    <h2>{{ subjectCode }} {{ subjectName }}</h2>
</div>
<div>
    <script>
        function toggleGrouping() {
            var x = document.getElementById("groupingSection");
            var y = document.getElementById("groupingButtonImg");
            if (x.style.display === "none") {
                x.style.display = "block";
                y.src = "/static/img/up-arrow.png";
            } else {
                x.style.display = "none";
                y.src = "/static/img/down-arrow.png";
            }
        }

        function toggleArrow(button) {
            var arrowImg = button.querySelector('.arrow');
            arrowImg.classList.toggle('rotate');
        }

        document.addEventListener('DOMContentLoaded', function() {
            var studentButtons = document.querySelectorAll('.student');
            studentButtons.forEach(function(button) {
                button.addEventListener('click', function() {
                    toggleArrow(this);
                });
            });

            var adjustAvgButtons = document.querySelectorAll('.adjustAvg');
            adjustAvgButtons.forEach(function(button) {
                button.addEventListener('click', function(event) {
                    event.preventDefault(); // Prevent form submission
                    var studentId = this.getAttribute('data-student-id');
                    var avgRating = document.getElementById('avg' + studentId).textContent;
                    document.getElementById('lecturerRating' + studentId).value = avgRating;
                });
            });
        });
    </script>
    <h3 id="title">Student Group</h3>
      <!-- <div id="exportGroupingbtn">
          <button value="exportAllGrouping">Export All</button>
      </div> -->
</div>
<div id="groupingSection">
    {% for section in studentGroups %}
    <div class="group">
        <button data-bs-toggle="collapse" type="button" data-bs-target="#section{{ section[0] }}" class="grouping student">
            <h4 style="margin-left: 0;">
              <img src="/static/img/down-arrow.png" alt="arrow" style="width: 20px; height: 20px;" class="arrow">
              {{ section[0] }}
            </h4>
        </button>
        <div id="section{{ section[0] }}" class="collapse">
            {% for group in section[1] %}
                <div style="margin: 0px 10px;">
                    <button data-bs-toggle="collapse" type="button" data-bs-target="#group{{group[0]}}" class="student">
                        <h5 style="margin-left: 0;">
                            <img src="/static/img/down-arrow.png" alt="arrow" style="width: 20px; height: 20px;" class="arrow">
                            Group  {{ group[0] }}
                        </h5>
                    </button>   
                    <div id="group{{group[0]}}" class="collapse" style="margin:0 10px;">
                        {% for student in group[1:] %}
                            <button data-bs-toggle="collapse" type="button" data-bs-target="#student{{ student[0] }}" class="student">
                                <img src="/static/img/down-arrow.png" alt="arrow" style="width: 20px; height: 20px;" class="arrow">
                                {{ student[1] }}
                            </button>
                            <div id="student{{ student[0] }}" class="collapse studentReviews">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Student ID</th>
                                            <th>Student Name</th>
                                            <th>Ratings Given</th>
                                            {% if student[3] and student[2] != 'Not reviewed by all students yet' %}
                                            <th>Average Rating</th>
                                            {% endif %}
                                            <th>Comment</th>
                                        </tr>
                                    </thead>    
                                    <tbody>
                                        {% for rating in student[3] %}
                                        <tr>
                                            <td class="studentData">{{ rating[0] }}</td>
                                            <td class="studentData">{{ student[1] }}</td>
                                            <td class="studentData">{{ rating[1] }}</td>
                                            {% if student[2] != 'Not reviewed by all students yet' %}
                                            <td class="studentData" id="avg{{student[0]}}">{{ student[2] }}</td>
                                            {% endif %}
                                            <td class="studentData">{{ rating[2] }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                {% if student[4] %}
                                <div class="lower-section">
                                    <div class="lecturerForm">
                                        <form action="/lecturerRating" method="post" style="width: 100%;">
                                            <input type="hidden" name="studentId" value="{{ student[0] }}">
                                            <input type="hidden" name="courseId" value="{{ courseId }}">
                                            <input type="hidden" name="sectionId" value="{{ courseSection }}">
                                            <div style="padding:auto; display: flex;align-items: center;padding: auto;">
                                                <label for="lecturerRating{{ student[0] }}" style="margin: 0 5px 0 100px;">Lecturer Rating:</label>
                                                <input type="text" id="lecturerRating{{ student[0] }}" name="lecturerRating" style="margin: 0 70px 0 5px;display: inline;">
                                                <button id="avgBtn" class="adjustAvg" data-student-id="{{ student[0] }}" style="align-items: center; padding: auto; margin: 0 8px 0 70px; display: flex;">Match Average</button>
                                                <button id="submitBtn" type="submit" name="submitLectRating" style="margin: 0 0 0 8px;">Submit</button> 
                                            </div>
                                        </form>
                                    </div>
                                    <div class="selfAssessment">
                                        <h5>Self-assessment for {{ student[1] }}</h5>
                                        {% for assessment in student[4] %}
                                        <div>
                                            <p>{{ assessment }}</p>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                {% endif %} 
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}
