{% extends "layout.html" %}

{% block contentBackground %}

<div>
    <h1>Final Mark Calculator</h1><br>
    <ul>
        <li>Enter the marks you have received for the assignment and we will calculate your final mark.</li>
        <li>Note: you may calculate manually to confirm the accuracy and/or if you choose to do so.</li>
    </ul>
    <br>
    
    <form action="/calculateFinalMark" method="post">
        <label>Assignment Marks:</label>
        <input type="hidden" name="studentId" value="{{ studentId }}">
        <input type="hidden" name="courseId" value="{{ courseId }}">
        <input type="hidden" name="sectionId" value="{{ sectionId }}">
        <input type="text" name="assignmentMark">
        <button type="submit">Calculate</button>
    </form>
    <br><br>

    {% if finalMarks %}
    <div>
        Final Mark for <b>{{ finalMarks[0] }}</b>: {{ finalMarks[1] }}
    </div>
    {% endif %}
</div>

{% endblock %}