{%extends "layout.html"%}
{%block contentBackground%}
<div id="dashboard"> <!--This block can use variable subjectName-->
  {%for course in courses%}
  <div id="subjectName" class="course">
    <a href="studentPeerReview">
      <button value="subjectName">
        <h2>{{course}}</h2>
      </button>
    </a>
  </div>
  <div id="subjectName" class="course">
    <a href="studentPeerReview">
      <button value="subjectName">
        <h2>{{course}}</h2>
      </button>
    </a>
  </div>
  {%endfor%}
</div>
{%endblock%}