{%extends "layout.html"%}
{%block contentBackground%}
  <div id="dashboard"> <!--This block can use variable subjectName-->
    <div id="subjectName"> <!--TODO: ADD FUNCTION TO THE DIV/BUTTON-->
      <h2>{{subjectName}}1</h2>
    </div>
    <div id="subjectName">
      <h2>{{subjectName}}2</h2>
    </div>
    <div id="subjectName">
      <h2>{{subjectName}}3</h2>
    </div>
    <div id="subjectName">
      <h2>{{subjectName}}4</h2>
    </div>
    <div id="subjectName">
      <h2>{{subjectName}}5</h2>
    </div>
    <div id="subjectName">
      <h2>{{subjectName}}6</h2>
    </div>
  </div>
{%endblock%}