<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/style.css" rel="stylesheet" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Peer Review System</title>
</head>
<body id="landingPage">
  <div id="loginForm">
    <div id="loginImg">
      <img src="/static/img/mmulogo.png" alt="login" style="width: 200px; height: 200px;">
    </div>
    <div>
      <a href="/login" id="loginbtn">
      <button id="btn">Log in Using Microsoft</button>
      </a>
    </div>
  </div>
</body>
</html>