{% if get_flashed_messages() %}
<header>
    <div class="alert alert-primary mb-0 text-center" role="alert">
        {{ get_flashed_messages() | join(" ") }}
    </div>
</header>
{% endif %}
<!DOCTYPE html>
<html lang="en">
  <header> 
  <title>Student Peer Review System</title><!--Use Jinja block afterwards-->
  <link href="/static/style.css" rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </header>
<body>
  <div id="title">
    <h1>SPRS</h1> <!--Use Jinja block afterwards-->
  </div>

  <div id="contentBackground" class="flexRow">
    <!--Create content here-->
    {%block contentBackground%}
    {%endblock%}
  </div>

  <div id="navbar"><!--Use jinja block afterwards-->
    <div id="loginName"> 
      <h3>Logged in as {{ name }}</h3>
    </div>
    <nav>
      <div id="Navigation"> <!--TODO: FIX PAGE NAVIGATION, WITH "flask run"--> 
        <ul>
          <li><a href="dashboard"><button id="navButton">Home</button></a></li>
          <li><a href="studentPeerReview"><button id="navButton">Student Peer Review</button></a></li>
          <li><a href="studentGroup"><button id="navButton">Student Group</button></a></li>
          {%if not session["id"]%}
            <li><a href="logout"><button id="navButton">Log Out</button></a></li>
            {%else%}
            <li><a href="login"><button id="navButton">Register</button></a></li>
          {%endif%}
          <li><a href="addingCourses"><button id="navButton">adding Courses</button></a></li>
          <li><a href = "changePassword"><button id="navButton">Change Password</button></a></li>
        </ul>
      </div>
    </nav>
  </div>
</body>
</html>