{% extends "layout.html" %}

{% block roleNavbar %}
<ul class="navbar-nav me-auto mt-2" style = "padding-top: auto;">
  <li class="nav-item"><a class="nav-link" href="/lecturerView"><span class="nav-text">Home</span></a></li>
  <li class="nav-item"><a class="nav-link" href="/studentGroup"><span class="nav-text">Student Groups</span></a></li>
</ul>
<ul class="navbar-nav ms-auto mt-2">
  <label class="switch">
    <input type="checkbox" />
    <span class="slider"></span>
  </label>
  <li class="nav-item"><a class="nav-link" href="/logout"><span class="nav-text">Log out</span></a></li>
</ul>
{% endblock %}

{%block contentBackground%}
<div id="addCoursesbtn">
  <a href="/addingCourses" style="color: var(--text-color);"><button style="background-color: var(--addcoursebutton); color: var(--text-color);">Add Courses</button></a>
</div>
<div id="dashboard"> <!--This block can use variable subjectName-->
  {%for course in courses%}
  <div id="subjectName" class="course">
    <form action="/studentGroup" method="POST">
      <button name = "courseId" value="{{course[2]}}">
        <h2>{{ course[0] }}</h2>
        <h2>{{ course[1] }}</h2>
      </button>
    </form>
  </div>
  {%endfor%}
</div>
{%endblock%}