<!--Created mostly by Eric-->
<!DOCTYPE html>
<html lang="en">
  <header>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Peer Review System</title>
    <link href="/static/style.css" rel="stylesheet">
  </header>
  <body>
    <div id="login">
      <main>
        <h1>Login Page</h1>
        <p>This should be the login page</p>
        <form action="/login" method = "post">This will be the login form<br>
          <label for="username">Username </label><input type="text" id="username" name="username" checked><br><br>
          <label for="password">Password</label><input type="password" id="password" name="password" checked><br><br>
          <input type="submit" value="Log In" onClick="onClick()">
        </form>
        <p>Login with <a href="null">Microsoft</a> account</p>
      </main>
    </div>
  </body>
</html>