{% extends "layout.html" %}

{% block contentBackground %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const selectedLayout = document.getElementById('layoutSelect');
        const confirmChangeButton = document.getElementById('confirmChangeButton');
        const previewLayoutBtn = document.getElementById('previewLayoutButton');
        const warning = document.querySelector('.warning');
        const intro = `{{ introduction|safe }}`;
        const convertIntro = marked.parse(intro);

        document.querySelector('.introContent').innerHTML = convertIntro;

        // Disable the confirm change button on layout selection change
        selectedLayout.addEventListener('change', function() {
            confirmChangeButton.disabled = true;
            warning.textContent = 'Preview Layout First!';
        });

        // Enable the confirm change button on preview button click
        previewLayoutBtn.addEventListener('click', function() {
            confirmChangeButton.disabled = false;
            warning.textContent = '';
        });

        document.getElementById('changeIntroForm').addEventListener('submit', function(event) {
            event.preventDefault(); // Prevent the form from submitting immediately
            var modal = document.getElementById('introModal');
            modal.style.display = 'block';
        });

        document.querySelector('.close').addEventListener('click', function() {
            var modal = document.getElementById('introModal');
            modal.style.display = 'none';
        });

        document.getElementById('confirmIntro').addEventListener('click', function() {
            document.getElementById('introChangeTextHidden').value = document.getElementById('introChangeText').value;
            document.getElementById('changeIntroForm').submit();
        });

        window.addEventListener('click', function(event) {
            var modal = document.getElementById('introModal');
            if (event.target == modal) {
                modal.style.display = 'none';
            }
        });
    });
</script>
<div>
    <form action="/changePreviewQuestion" method="post" style="margin-bottom: 20px;">
        <label for="layoutSelect" style="margin-right: 5px;">Select a layout:</label>
        <select name="selectedLayout" id="layoutSelect">
            {% for layout in layouts %}
            <option value="{{ layout.id }}" name = "layoutId"  {% if layout.id|string == layoutId|string %} selected{% endif %}>{{ layout.layoutName }}</option>
            {% endfor %}
            <input type="hidden" name="courseId" value="{{ courseId }}">
            <input type="hidden" name="courseCode" value="{{ courseCode }}">
            <input type="hidden" name="courseName" value="{{ courseName }}">
        </select>
        <button type="submit" style="margin-left: 10px;" id="previewLayoutButton">Preview</button>
    </form>
</div>
<div id="layoutDetails">
    <div id="peerReviewForm">
        <h2>Peer Review for {{ courseCode }} {{courseName}}</h2>
        <div class="introduction">
            <h1 style="border-bottom: 1px solid black; width: fit-content;display: flex;margin: auto;">Introduction</h1><br>
            <p style="text-align: left;margin-left: 0px;width: fit-content; padding: 0 30px; " class="introContent">
                {{introduction}}
            </p>
            <form action="/changeIntro" id="changeIntroForm" method="post">
                <input type="hidden" name="courseId" value="{{courseId}}">
                <input type="hidden" name="introChangeText" id="introChangeTextHidden" value="">
                <button type="submit" id="changeIntroButton" class="submitBtn center" style="margin-bottom: 10px;">Change Introduction</button>
            </form>
        </div>
        <div class="sectionForm">
            <div class="grid-container">
            <input type="hidden" name="questions" value="{{ questions }}">
              {%for i in range(4)%}
                  <!-- comments -->
              <div class="grid-items">
                  <label for="comment" class="bigText ">Comment to <br><b>Groupmate{{i+1}}</b></label><br>
                  <input type="text" class = "commentStudent" id="comment" name="comment" maxlength="500" placeholder="Example: Are they helpful? How is working with them are? What you think they can do better? (Constructive Critism)" checked></input><br>
                  <!-- ratings -->
                  <label for="ratingStudent" >Rating (1-5)</label>
                  <input type="text" id="rating" class="rating"  name="rating" checked style="margin-top: 10px;">
                  <br><br><br>
              </div>
              {%endfor%}
            </div>
            <p class="warning"></p>
            <button type="button" id="adjustRatingsButton" class="submitBtn center" disabled>Show Adjusted Ratings</button>
            </div>
  
  
            <!-- self assessment -->
            <h2>Self Assessment</h2>
            <p>Note: You are <b>STRONGLY ADVISED</b> to write more than one sentence for your answers to the following question.</p><br>
            <div class="grid-container">
                {% for question in questions %}
                <div class="grid-items">
                  <label for="question" style="font-size: 18px;margin-inline: 10px;">{{ question[1] }}</label><br>
                  <input type="hidden" id="questionId{{ question[0] }}" maxlength="500" name="questionId{{ question[0] }}" value="{{ question[0] }}">
                  <input type="hidden" id="questionText{{ question[0] }}" maxlength="500" name="questionText{{ question[0] }}" value="{{ question[1] }}"><br>
                  <input type="text" name="answer{{ question[0] }}" maxlength="500" id="answer{{ question[0] }}" required><br><br><br>
                </div>
                {% endfor %}
                </div>
            <input type="submit" id="submit" value="submit" disabled>
      </div>
</div>
<div id="confirmChange">
    <form action="/changeDbLayout" method="POST">
        <input type="hidden" name="courseId" value="{{ courseId }}">
        <input type="hidden" name="courseCode" value="{{ courseCode }}">
        <input type="hidden" name="courseName" value="{{ courseName }}">
        <input type="hidden" name="layoutId" value="{{ layoutId }}">
        <p class="warning"></p>
        <button type="submit" id="confirmChangeButton">Confirm Change</button>
    </form>
</div>

<div id="introModal" class="modal">
    <div class="modal-content" style="width: 600px; height: 500px;">
        <div style="justify-content: right; padding: auto;">
            <span class="close">&times;</span>
        </div>
        <form id="introChangeForm">
            <textarea id="introChangeText" name="introChangeText" style="margin: 10px; min-height: 200px; border-radius: 10px; background-color: #f5f5f5; box-shadow: 0 0 5px rgba(0,0,0,0.3); width: 500px;text-align: start;" minlength="50" maxlength="500"></textarea>
            <p>Min 50, Max 500</p>
            <button type="button" id="confirmIntro" class="submitBtn" style="margin-top: 30px;">Change Introduction</button>
        </form>
    </div>
</div>

{% endblock %}
