{% extends "layout.html" %}

{% block contentBackground %}
<div>
    <form action="/changePreviewQuestion" method="post" style="margin-bottom: 20px;">
        <label for="layoutSelect" style="margin-right: 5px;">Select a layout:</label>
        <select name="selectedLayout" id="layoutSelect">
            {% for layout in layouts %}
            <option value="{{ layout.id }}" name = "layoutId"  {% if layout.id|string == layoutId|string %} selected{% endif %}>{{ layout.layoutName }}</option>
            {% endfor %}
            <input type="hidden" name="courseId" value="{{ courseId }}">
            <input type="hidden" name="courseCode" value="{{ courseCode }}">
            <input type="hidden" name="courseName" value="{{ courseName }}">
        </select>
        <button type="submit" style="margin-left: 10px;">Preview</button>
    </form>
</div>
<div id="layoutDetails">
    <div id="peerReviewForm">
        <h2>Peer Review for {{ courseCode }} {{courseName}}</h2>
            {%for i in range(1,4)%}
            <!-- comments -->
            <label for="commentStudent">Comment to <b>Groupmate{{i}}</b></label><br>
            <textarea id="commentStudent" name="comment{{member}}" checked></textarea><br>
  
  
            <!-- ratings -->
            <label for="ratingStudent" >Rating (1-5)</label>
            <input type="text" id="rating{{member}}" class="rating" name="rating{{member}}" checked>
            <br><br><br>
            {%endfor%}
  
            <button type="button" id="adjustRatingsButton" disabled>Show Adjusted Ratings</button>
  
            <!-- self assessment -->
            <h2>Self Assessment</h2>
            <p>Note: You are <b>STRONGLY ADVISED</b> to write more than one sentence for your answers to the following question.</p><br>
            {% for question in questions %}
                <label for = "question">{{ question[1] }}</label><br>
                <textarea id="question" name="question" checked></textarea><br><br><br>
            {% endfor %}
            <input type="submit" id="submit" value="submit" disabled>
      </div>
</div>
<div id="confirmChange">
    <form action="/changeDbLayout" method="POST">
        <input type="hidden" name="courseId" value="{{ courseId }}">
        <input type="hidden" name="courseCode" value="{{ courseCode }}">
        <input type="hidden" name="courseName" value="{{ courseName }}">
        <input type="hidden" name="layoutId" value="{{ layoutId }}">
        <button type="submit">Confirm Change</button>
    </form>
</div>
{% endblock %}
