{% extends "layout.html" %}
{% block contentBackground %}
{% if session['id'] %}
<div class="sectionTitle">
    <h2>{{ subjectCode }} {{ subjectName }}</h2>
</div>
<div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var currentDate = new Date();

            var endDateInputElement = document.getElementById('endDate{{ courseId }}');
            var endDateValue = endDateInputElement.value;
            var endDate = new Date(endDateValue);

            // Compare the current date with the end date
            if (currentDate <= endDate) {
                var dateWarning = document.getElementById('dateWarning');
                dateWarning.textContent = 'The course is still ongoing. You cannot upload final marks until the course has ended.';
                document.getElementById('importAssignmentbtn').disabled = true;
            } else {
                // If current date is after the end date, enable the upload button
                document.getElementById('importAssignmentbtn').disabled = false;
            }
            document.getElementById('downloadFMTemplateBtn').addEventListener('click', function() {
                var form = document.getElementById('downloadFMTemplateForm');
                var formData = new FormData(form);

                // Send the form data asynchronously
                fetch('/downloadFMTemplate', {
                    method: 'POST',
                    body: formData
                })
                .then(response => response.blob())
                .then(blob => {
                    // Create a temporary URL for the blob
                    var url = window.URL.createObjectURL(blob);

                    // Create a temporary link element
                    var a = document.createElement('a');
                    a.href = url;
                    a.download = '{{subjectCode}}_final_marks_template.csv'; // Set the filename
                    document.body.appendChild(a);

                    // Click the link to trigger the download
                    a.click();

                    // Clean up
                    window.URL.revokeObjectURL(url);
                    document.body.removeChild(a);
                })
                .catch(error => console.error('Error:', error));
            });

            function toggleGrouping() {
                var x = document.getElementById("groupingSection");
                var y = document.getElementById("groupingButtonImg");
                if (x.style.display === "none") {
                    x.style.display = "block";
                    y.src = "/static/img/up-arrow.png";
                } else {
                    x.style.display = "none";
                    y.src = "/static/img/down-arrow.png";
                }
            }

            function toggleArrow(button) {
                var arrowImg = button.querySelector('.arrow');
                arrowImg.classList.toggle('rotate');
            }

            document.getElementById('deleteCourseForm').addEventListener('submit', function(event) {
                event.preventDefault(); // Prevent the form from submitting immediately
                var modal = document.getElementById('confirmationModal');
                modal.style.display = 'block';
            });

            document.querySelector('.close').addEventListener('click', function() {
                var modal = document.getElementById('confirmationModal');
                modal.style.display = 'none';
            });

            document.getElementById('cancelDelete').addEventListener('click', function() {
                var modal = document.getElementById('confirmationModal');
                modal.style.display = 'none';
            });

            document.getElementById('confirmDelete').addEventListener('click', function() {
                document.getElementById('deleteCourseForm').submit();
            });

            window.addEventListener('click', function(event) {
                var modal = document.getElementById('confirmationModal');
                if (event.target == modal) {
                    modal.style.display = 'none';
                }
            });

            var studentButtons = document.querySelectorAll('.student');
            studentButtons.forEach(function(button) {
                button.addEventListener('click', function() {
                    toggleArrow(this);
                });
            });

            var adjustAvgButtons = document.querySelectorAll('.adjustAvg');
            adjustAvgButtons.forEach(function(button) {
                button.addEventListener('click', function(event) {
                    event.preventDefault(); // Prevent form submission
                    var studentId = this.getAttribute('data-student-id');
                    var avgRating = document.getElementById('avg' + studentId).textContent.split(' ')[0];
                    var lecturerRatingInput = document.getElementById('lecturerRating' + studentId);
                    if (lecturerRatingInput) {
                        lecturerRatingInput.value = avgRating;
                        lecturerRatingInput.dispatchEvent(new Event('input')); // Trigger input event manually
                    }
                });
            });

            //  event listener for Get Lecturer Rating button
            var getLecturerRatingButtons = document.querySelectorAll('.getLecturerRating');
            getLecturerRatingButtons.forEach(function(button) {
                button.addEventListener('click', function(event) {
                    event.preventDefault(); // Prevent form submission
                    var studentId = this.getAttribute('data-student-id');
                    var lecturerRating = this.getAttribute('data-lecturer-rating'); // Fetch the lecturer rating from data attribute
                    var lecturerRatingInput = document.getElementById('lecturerRating' + studentId);
                    if (lecturerRatingInput) {
                        lecturerRatingInput.value = lecturerRating;
                        lecturerRatingInput.dispatchEvent(new Event('input')); // Trigger input event manually
                    }
                });
            });

            // Enable/disable button and calculate final mark
            var lecturerRatingInputs = document.querySelectorAll('[id^=lecturerRating]');
            var assignmentMarkInputs = document.querySelectorAll('.assignmentMark');

            lecturerRatingInputs.forEach(function(input) {
                input.addEventListener('input', function() {
                    var studentId = this.getAttribute('id').replace('lecturerRating', '');
                    var assignmentMarkInput = document.getElementById('assignmentMark' + studentId);
                    var calculateButton = document.querySelector(`.calculateFinalMark[data-student-id='${studentId}']`);
                    var warning = document.querySelectorAll('.warning');
                    var submitButton = document.querySelector(`button[type='submit'][name='submitLectRating']`);
                    
                    if (this.value.trim() !== "" && assignmentMarkInput.value.trim() !== "") {
                        calculateButton.disabled = false;
                        warning.forEach(function(warning) {
                            warning.textContent = "";
                        });
                    } else {
                        calculateButton.disabled = true;
                        warning.forEach(function(warning) {
                            warning.textContent = "Please fill in all fields.";
                        });
                    }

                    // Enable/disable submit button
                    if (this.value.trim() !== "") {   //checks if lecturer rating is filled
                        submitButton.disabled = false;
                    } else {
                        submitButton.disabled = true;
                    }
                });
            });

            assignmentMarkInputs.forEach(function(input) {
                input.addEventListener('input', function() {
                    var studentId = this.getAttribute('data-student-id');
                    var lecturerRatingInput = document.getElementById('lecturerRating' + studentId);
                    var warning = document.querySelectorAll('.warning');
                    var calculateButton = document.querySelector(`.calculateFinalMark[data-student-id='${studentId}']`);
                    if (this.value.trim() !== "" && lecturerRatingInput.value.trim() !== "") {
                        calculateButton.disabled = false;
                        warning.forEach(function(warning) {
                            warning.textContent = "";
                        });
                    } else {
                        calculateButton.disabled = true;
                        warning.forEach(function(warning) {
                            warning.textContent = "Please fill in all fields.";
                        });
                    }
                });
            });

            var calculateButtons = document.querySelectorAll('.calculateFinalMark');
            calculateButtons.forEach(function(button) {
                button.addEventListener('click', function(event) {
                    event.preventDefault();
                    var studentId = this.getAttribute('data-student-id');
                    var avgRating = parseFloat(document.getElementById('avg' + studentId).textContent.split(' ')[0]);
                    var lecturerRating = parseFloat(document.getElementById('lecturerRating' + studentId).value);
                    var assignmentMark = parseFloat(document.getElementById('assignmentMark' + studentId).value);
                    var finalMark = calculateFinalMark(avgRating, lecturerRating, assignmentMark);
                    var finalMarkElement = document.querySelector(`.finalMarkText[data-student-id='${studentId}']`);
                    finalMarkElement.textContent = finalMark;
                });
            });

            function calculateFinalMark(APR, LE, AM) {
                AM = parseFloat(AM);
                var finalmarks = (0.5 * AM) + (0.25 * AM * (APR / 3)) + (0.25 * AM * (LE / 3));
                return finalmarks.toFixed(2);
            }

            // Initial disable submit buttons
            var submitButtons = document.querySelectorAll(`button[type='submit'][name='submitLectRating']`);
            submitButtons.forEach(function(button) {
                button.disabled = true;
            });

            // Calculate and display average ratings
            function calculateAndDisplayAverages() {
                const groups = document.querySelectorAll('.group');

                groups.forEach(group => {
                    const students = group.querySelectorAll('.studentReviews');
                    let groupRatings = {}; // Object to store total ratings and count of ratings for each student

                    students.forEach(student => {
                        const rows = student.querySelectorAll('tbody tr');

                        rows.forEach(row => {
                            const studentId = row.querySelector('td:nth-child(1)').textContent.trim(); //get student id
                            const ratingCell = row.querySelector('td:nth-child(3)');                   // get ratings given by student
                            const rating = parseFloat(ratingCell.textContent);

                            if (!groupRatings[studentId]) {
                                groupRatings[studentId] = { total: 0, count: 0 };  // if student id is not in the object, add it
                            }

                            if (!isNaN(rating)) {
                                groupRatings[studentId].total += rating;   // if rating is a number, add it to the total
                                groupRatings[studentId].count += 1;        // increment number of stuents reviewed
                            }
                        });
                    });

                    students.forEach(student => {
                        const rows = student.querySelectorAll('tbody tr');
                        rows.forEach(row => {
                            // get student id and select the avg rating cell for each std
                            const studentId = row.querySelector('td:nth-child(1)').textContent.trim();
                            const avgRatingCell = row.querySelector('td:nth-child(5)');

                        if (groupRatings[studentId].count > 0) {
                            // if student has been rated, calculate the avg rating
                            const avgRating = (groupRatings[studentId].total / groupRatings[studentId].count).toFixed(2);
                            if (groupRatings[studentId].count < rows.length) {
                                // if not all students have reviewed, show how many out of total have reviewed
                                avgRatingCell.innerHTML = `${avgRating} <span style="color: red;">(${groupRatings[studentId].count} / ${rows.length} rated)</span>`;
                            } else {
                                // if all reviewed then no need to show the count
                                avgRatingCell.textContent = avgRating;
                            }
                        } else {
                            avgRatingCell.textContent = 'Not given ratings';
                            avgRatingCell.style.color = 'red'; // Set color to red if no ratings are given
                        }
                    });
                });
            });
        }

            calculateAndDisplayAverages();
    });

    

    $(document).ready(function () {
        $('#uploadForm').on('submit', function (event) {
            event.preventDefault();
            let formData = new FormData(this);

            // Send the form data asynchronously
            fetch('/importAssignmentMarks', {
                method: 'POST',
                body: formData
            })
            .then(response => response.blob())
            .then(blob => {
                // Create a temporary URL for the blob
                var url = window.URL.createObjectURL(blob);

                // Create a temporary link element
                var a = document.createElement('a');
                a.href = url;
                a.download = '{{subjectCode}}_final_marks.csv'; // Set the filename
                document.body.appendChild(a);

                // Click the link to trigger the download
                a.click();

                // Clean up
                window.URL.revokeObjectURL(url);
                document.body.removeChild(a);
            })
            .catch(error => console.error('Error:', error));
        });
    });
    </script>
    
    <h3 id="title">Student Group</h3>
    <form id="downloadFMTemplateForm" method="post">
        <input type="hidden" name="courseId" value="{{ courseId }}">
        <input type="hidden" name="courseCode" value="{{ subjectCode }}">
        <button type="button" id="downloadFMTemplateBtn">Download Final Marks Template</button>
    </form>
    <form id="uploadForm" action="/importAssignmentMarks" method="post" enctype="multipart/form-data">
        <p id="dateWarning" style="color: red;margin-bottom: 0;"></p>
        <div id="importAssignmentMarks">
            <input type="hidden" name="courseId" value="{{courseId}}">
            <input type="hidden" name="courseCode" value="{{subjectCode}}">
            <input type="file" id="csvFile" name="file" accept=".csv" required>
            <button type="submit" id="importAssignmentbtn" class="submitBtn">Import Final Group Marks</button>
        </div>
    </form>

    <div class="reviewDate">
        <form action="/changeReviewDateForCourse" method="post" style="width: 100%; justify-content: center; display: flex; flex-direction: column; align-items: center;">
            <div style="display: block; text-align: center; margin-top: 10px;">
            <input type="hidden" name="courseId" value="{{ courseId }}">

            <div style="margin: auto 10px; display: flex; align-items: center; gap: 10px;">
                
                {% if courseDates %}
                    <label for="startDate{{ courseId }}">Open Peer Review From</label>
                    <input type="date" id="startDate{{ courseId }}" name="startDate" style="margin: 10px; display: inline;" value="{{courseDates[0]}}">
                    
                    <label for="endDate{{ courseId }}">To</label>
                    <input type="date" id="endDate{{ courseId }}" name="endDate" style="margin: 10px; display: inline;" value="{{courseDates[1]}}">
                {% else %}
                <input type="date" id="startDate{{ courseId }}" name="startDate" style="margin: 10px; display: inline;">
                
                <label for="endDate{{ courseId }}">To</label>

                <input type="date" id="endDate{{ courseId }}" name="endDate" style="margin: 10px; display: inline;" >
                {% endif %}
                <button type="submit" name="submitReviewDate" class="submitBtn" style="display: inline;">Save (All Sections)</button>
            </div>
        </form>
    </div>
    <form action="/previewLayout" method="post">
        <div id="previewLayoutbtn">
            <input type="hidden" name="courseId" value="{{courseId}}">
            <input type="hidden" name="courseCode" value="{{subjectCode}}">
            <input type="hidden" name="courseName" value="{{subjectName}}">
            <button type="submit" style="  box-shadow: rgba(99, 99, 99, 0.5) 0px 2px 8px 0px; margin: 20px 10px;">Choose Layout</button>
        </div>
    </form>
</div>
<div id="groupingSection">
    {% for section in studentGroups %}
    <div class="group">
        <button data-bs-toggle="collapse" type="button" data-bs-target="#section{{ section[1] }}" class="grouping student" style="background-color: #c3c3c3;border-radius: 2.5px;">
            <h4 style="margin-left:0;">
              <img src="/static/img/down-arrow.png" alt="arrow" style="width: 20px; height: 20px;margin-right: 10px;" class="arrow">
              {{ section[1] }}
            </h4>
        </button>
        <div id="section{{ section[1] }}" class="collapse" >
            <div class="reviewDate" style="box-shadow: 0 0 10px 3px rgba(0,0,0,0.3);width: max-content;margin: 10px auto;padding:0;">
                <form action="/changeReviewDate" method="post" style="width: 100%; justify-content: center; display: flex; flex-direction: column; align-items: center;">
                    <input type="hidden" name="courseId" value="{{ section[-3] }}">
                    <input type="hidden" name="sectionId" value="{{ section[0] }}">
                    <div style="margin: auto 10px; display: flex; align-items: center; gap: 10px;">
                        {% if section[-2] and section[-1] %}
                            <label for="startDate{{ section[0] }}">Open Peer Review From</label>
                            <input type="date" id="startDate{{ section[0] }}" name="startDate" style="margin: 10px; display: inline;" value="{{section[-2]}}">
                            <label for="endDate{{ section[0] }}">To</label>
                            <input type="date" id="endDate{{ section[0] }}" name="endDate" style="margin: 10px; display: inline;" value="{{section[-1]}}">
                        {% else %}
                            <label for="startDate{{ section[0] }}">Open Peer Review From</label>
                            <input type="date" id="startDate{{ section[0] }}" name="startDate" style="margin: 10px; display: inline;">
                            <label for="endDate{{ section[0] }}">To</label>
                            <input type="date" id="endDate{{ section[0] }}" name="endDate" style="margin: 10px; display: inline;">
                        {% endif %}
                        <button type="submit" name="submitReviewDate" class="submitBtn" style="display: inline;">Save</button>
                    </div>
                </form>
            </div>
            {% for group in section[2] %}
                <div style="margin: 0px 10px">
                    <button data-bs-toggle="collapse" type="button" data-bs-target="#group{{group[0]}}" class="student" style="background-color: #e8e6e6;border-radius: 1.5px;">
                        <h5 style="margin-left: 0;margin:auto">
                            <img src="/static/img/down-arrow.png" alt="arrow" style="width: 20px; height: 20px;margin-right: 10px;" class="arrow">
                            Group  {{ group[0] }}
                        </h5>
                    </button>   
                    <div id="group{{group[0]}}" class="collapse" style="margin:0 10px;">
                        {% for student in group[1:] %}
                            <button data-bs-toggle="collapse" type="button" data-bs-target="#student{{ student[0] }}" class="student" style="border-radius: 1px;">
                                <img src="/static/img/down-arrow.png" alt="arrow" style="width: 20px; height: 20px;margin-right: 10px;" class="arrow">
                                {{ student[1] }}
                            </button>
                            <div id="student{{ student[0] }}" class="collapse studentReviews">
                                <table class="table table-striped">
                                    <thead style="border-bottom: 3px solid black; font-size: 1.1em;">
                                        <tr>
                                            <th style="display: none;"></th>
                                            <th>Groupmate Name</th>
                                            <th>Ratings Given</th>
                                            <th style="width: 400px;">Comments</th>
                                            <th>Avg Rating Received</th>     
                                            <th>Done review</th>                              
                                        </tr>
                                    </thead>    
                                    <tbody>
                                        {% for groupmate in group[1:] %}
                                            <tr>
                                                <td class="studentData" style="display: none;">{{ groupmate[0] }}</td>
                                                <td class="studentData">{{ groupmate[1] }}</td>
                                                
                                                {% if student[2] %}
                                                    {% for rating in student[2] %}
                                                        {% if rating[0] == groupmate[0] %}
                                                            <td class="studentData">{{ rating[1] }}</td>
                                                            <td class="studentData wrapText">{{ rating[2] }}</td>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% else %}
                                                    <td class="studentData">N/A</td>
                                                    <td class="studentData">N/A</td>
                                                {% endif %}
                                                <td class="studentData" id="avg{{groupmate[0]}}">{{ groupmate[2] }}</td>
                                                {% if groupmate[2]%}
                                                    <td class="studentData">✅</td>
                                                {% else %}
                                                    <td class="studentData">❌</td>
                                                {% endif %}
                                                <td>NaN</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                {% if student[3] %}
                                <div class="lower-section">
                                    <div class="lecturerForm">
                                        <form action="/lecturerRating" method="post" style="width: 100%;">
                                            <input type="hidden" name="studentId" value="{{ student[0] }}">
                                            <input type="hidden" name="courseId" value="{{ section[-3] }}">
                                            <input type="hidden" name="courseCode" value="{{ subjectCode }}">
                                            <input type="hidden" name="courseName" value="{{ subjectName }}">
                                            <input type="hidden" name="sectionId" value="{{ section[0] }}">
                                            <div style="padding:auto; display: flex;align-items: center;justify-content: center;margin-left: 30px;">
                                                <label for="lecturerRating{{ student[0] }}">Lecturer Rating:</label>
                                                <input type="text" id="lecturerRating{{ student[0] }}" placeholder="Enter Rating." name="lecturerRating" style="margin: 0 0px 0 5px;display: inline;border: 1px solid #5c5c5c; border-radius: 2px;">
                                                <button id="avgBtn" class="adjustAvg" data-student-id="{{ student[0] }}" style="align-items: center; padding: auto; margin: 0 8px 0 10px; display: flex;">Match Average</button>
                                                {% if student[-1]%}
                                                <button class="avgBtn getLecturerRating" data-student-id="{{student[0]}}" data-lecturer-rating="{{ student[-1] }}" style="margin: 0 20px 0 0;">Get Lecturer Rating</button>
                                                {% endif %}
                                                <button class="submitBtn" type="submit" name="submitLectRating" style="margin: 0 0 0 8px;">Submit</button> 
                                            </div>
                                        </form>
                                        <div class="finalMark" style="margin: 40px auto 10px;">
                                            <span style="font-size: 1.1em;">Final Mark for <b>{{student[1] }}</b>:</span> 
                                            <span class="finalMarkText" data-student-id="{{ student[0] }}">
                                                N/A
                                            </span>    
                                        </div>
                                        <div style="display: flex;justify-content: center;text-align: center; padding: auto;margin-top: 0;">
                                            <p class="warning">Please fill in the fields.</p>
                                        </div>
                                        <div style="justify-content: center;padding:auto; display: flex; margin-top: 10px;">
                                            <label for="assignmentMark{{ student[0] }}" style="margin: 6px 10px 0 0;">Group Assignment Mark:</label>
                                            <input type="number" name="assignmentMark" required id="assignmentMark{{ student[0] }}" class="assignmentMark" data-student-id="{{ student[0] }}" style="margin: 2.5px 0 0 0;width: 300px; height: 30px; border: 1px solid #5c5c5c; border-radius: 2px;" placeholder="Insert Group Marks here.">
                                            <button  class="calculateFinalMark submitBtn" data-student-id="{{ student[0] }}" style="margin: auto 30px;" disabled>Calculate Final Mark</button>
                                        </div>
                                    </div>
                                    <div class="selfAssessment">
                                        <h5>Self-assessment for {{ student[1] }}</h5>
                                        {% for assessment in student[3] %}
                                        <div class="assessmentAnswer">
                                            <p style="font-weight: bold; margin: 0;min-width: 300px;">{{ assessment[2] }}</p>
                                            <p style="min-width: 50%;">Answer:</p>
                                            <div style="border: #000000 1px solid;margin:0 30px 30px 30px;min-height: 100px;min-width: 300px;border-radius: 4px; border: 1px solid #7f7f7f;">
                                              <p style="margin: 10px;min-width: 300px;">{{assessment[3]}}</p>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                {% endif %} 
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
<div id="deleteCourse">
    <form id="deleteCourseForm" action="/deleteCourse" method="post" style="margin-top: 40px;">
        <input type="hidden" name="courseId" value="{{courseId}}">
        <button type="submit" style="background-color:red;box-shadow: rgba(99, 99, 99, 0.5) 0px 2px 8px 0px; margin: 10px; border-radius: 5px;color: white;">Delete Course</button>
    </form>
</div>

<div id="confirmationModal" class="modal">
    <div class="modal-content">
        <div style="justify-content: right; padding: auto;">
            <span class="close">&times;</span>
        </div>
        
        <p>Are you sure you want to delete this course?</p>
        <button id="confirmDelete" class="modal-button">Yes</button>
        <button id="cancelDelete" class="modal-button">No</button>
    </div>
</div>
{% endif %}
{% endblock %}
