{%extends "layout.html"%}
{%block contentBackground%}
{% if session['id'] %}
    <div id="peerReviewForm">
      <h2 class="center">Peer Review for {{ assignment }}</h2>
      <form action="/studentPeerReview" method="post">
        <div class="sectionForm">
        <div class="grid-container">
        <input type="hidden" name="questions" value="{{ questions }}">
          {%for member in members%}
          <!-- comments -->
        <div class="grid-items">
          <label for="comment{{member}}" class="bigText ">Comment to <br><b>{{member}}</b></label><br>
          <input type="text" class = "commentStudent" id="comment{{member}}" name="comment{{member}}" maxlength="500" placeholder="Example: Are they helpful? How is working with them are? What you think they can do better? (Constructive Critism)" checked></input><br>
          <!-- ratings -->
          <label for="ratingStudent" >Rating (1-5)</label>
          <input type="text" id="rating{{member}}" class="rating"  name="rating{{member}}" checked style="margin-top: 10px;">
          <br><br><br>
        </div>
          {%endfor%}
        </div>
        <button type="button" id="adjustRatingsButton" class="submitBtn center">Show Adjusted Ratings</button>
        </div>


        <!-- self assessment -->
        <div class="sectionForm">
          <h2 style="text-align: center;">Self Assessment</h2><br>
          <p>Note: You are <b>STRONGLY ADVISED</b> to write more than one sentence for your answers to the following question.</p><br>
          
          <div class="grid-container">
          {% for question in questions %}
          <div class="grid-items">
            <label for="question" style="font-size: 18px;margin-inline: 10px;">{{ question[1] }}</label><br>
            <input type="hidden" id="questionId{{ question[0] }}" maxlength="500" name="questionId{{ question[0] }}" value="{{ question[0] }}">
            <input type="hidden" id="questionText{{ question[0] }}" maxlength="500" name="questionText{{ question[0] }}" value="{{ question[1] }}"><br>
            <input type="text" name="answer{{ question[0] }}" maxlength="500" id="answer{{ question[0] }}" required><br><br><br>
          </div>
          {% endfor %}
          </div>
          <p class="warning" style="font-size: 15px;font-weight: bold;">Don't leave ratings empty.</p>
          <input type="submit" class="submitBtn" id="submit" value="submit" disabled>
        </div>
      </form>
    </div>
  </div>
{% endif %}
{%endblock%}
