{% extends "layout.html" %}
{% block contentBackground %}
{% if session['id'] %}
<div>
  <h2>{{ subjectCode }} {{ subjectName }}</h2>
</div>
<div>
  <script>
    function toggleGrouping() {
      var x = document.getElementById("groupingSection");
      var y = document.getElementById("groupingButtonImg");
      if (x.style.display === "none") {
        x.style.display = "block";
        y.src = "/static/img/up-arrow.png";
      } else {
        x.style.display = "none";
        y.src = "/static/img/down-arrow.png";
      }
    }
    function toggleStudentGrouping() {
      var x = document.querySelectorAll(".studentName");
      var y = document.getElementById("studentGroupArrowbtn");
      if (x.style.display === "none") {
        x.style.display = "block";
        y.src = "/static/img/up-arrow.png";
      } else {
        x.style.display = "none";
        y.src = "/static/img/down-arrow.png";
      }
    }
  </script>
  <h3 id="title">Student Group</h3>
  <div id="groupingHeader">
    <button onclick="toggleGrouping()">
      <img src="/static/img/up-arrow.png" alt="arrow" id="groupingButtonImg" style="width: 20px; height: 20px;">
    </button>
    <div id="groupingTitle">Grouping for {{ courseSection }}</div>
    <div id="exportGroupingbtn">
      <button value="exportAllGrouping">Export All</button>
    </div>
  </div>
  {% for group in studentGroups %}
  <div class="group">
    <button data-bs-toggle="collapse" type="button" data-bs-target="#group{{ group[0] }}" class="grouping">
      <h4>Group {{ group[0] }}</h4>
    </button>
    <div id="group{{ group[0] }}" class="collapse">
      {% for student in group[1:] %}
        <div>
          <button data-bs-toggle="collapse" type="button" data-bs-target="#student{{ student[0] }}" class="student">
            {{ student[1] }}
          </button>
          <div id="student{{ student[0] }}" class="collapse studentReviews">
            <table class="table">
              <thead>
                <tr>
                  <th>Student ID</th>
                  <th>Student Name</th>
                  <th>Ratings Given</th>
                  <th>Rating</th>
                </tr>
              </thead>
              
              <tbody>
                {% for i in range(1, group|length) %}
                <tr>
                  <td class="studentData">{{group[i][0]}}</td>
                  <td class="studentData">{{group[i][1]}}</td>
                  {% if student[3] is defined and student[3][i-1] is defined %}
                    <td class="studentData">{{ student[3][i-1][1] }}</td>
                  {% else %}
                    <td class="studentData">None</td>
                  {% endif %}
                  <td class = "studentData">raaah</td>
                </tr>
                {% endfor %}
              </tbody>
              
            </table>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}
{% endblock %}
