{% extends "layout.html" %}
{% block contentBackground %}
{% if session['id'] %}
<div>
    <h2>{{ subjectCode }} {{ subjectName }}</h2>
</div>
<div>
    <script>
        function toggleGrouping() {
            var x = document.getElementById("groupingSection");
            var y = document.getElementById("groupingButtonImg");
            if (x.style.display === "none") {
                x.style.display = "block";
                y.src = "/static/img/up-arrow.png";
            } else {
                x.style.display = "none";
                y.src = "/static/img/down-arrow.png";
            }
        }

        function toggleArrow(button) {
            var arrowImg = button.querySelector('.arrow');
            arrowImg.classList.toggle('rotate');
        }

        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('deleteCourseForm').addEventListener('submit', function(event) {
            event.preventDefault(); // Prevent the form from submitting immediately
            var modal = document.getElementById('confirmationModal');
            modal.style.display = 'block';
            });

            document.querySelector('.close').addEventListener('click', function() {
                var modal = document.getElementById('confirmationModal');
                modal.style.display = 'none';
            });

            document.getElementById('cancelDelete').addEventListener('click', function() {
                var modal = document.getElementById('confirmationModal');
                modal.style.display = 'none';
            });

            document.getElementById('confirmDelete').addEventListener('click', function() {
                document.getElementById('deleteCourseForm').submit();
            });

            window.addEventListener('click', function(event) {
                var modal = document.getElementById('confirmationModal');
                if (event.target == modal) {
                    modal.style.display = 'none';
                }
            });
            var studentButtons = document.querySelectorAll('.student');
            studentButtons.forEach(function(button) {
                button.addEventListener('click', function() {
                    toggleArrow(this);
                });
            });

            var adjustAvgButtons = document.querySelectorAll('.adjustAvg');
            adjustAvgButtons.forEach(function(button) {
                button.addEventListener('click', function(event) {
                    event.preventDefault(); // Prevent form submission
                    var studentId = this.getAttribute('data-student-id');
                    var avgRating = document.getElementById('avg' + studentId).textContent;
                    var lecturerRatingInput = document.getElementById('lecturerRating' + studentId);
                    if (lecturerRatingInput) {
                        lecturerRatingInput.value = avgRating;
                    }
                });
            });
        });
    </script>
    <h3 id="title">Student Group</h3>
    <form action="/previewLayout" method ="post">
        <div id="previewLayoutbtn">
            <input type="hidden" name="courseId" value="{{courseId}}">
            <input type="hidden" name="courseCode" value="{{subjectCode}}">
            <input type="hidden" name="courseName" value="{{subjectName}}">
            <button type="submit" style="  box-shadow: rgba(99, 99, 99, 0.5) 0px 2px 8px 0px; margin: 10px;" >Choose Layout</button>
        </div>
    </form>
</div>
<div id="groupingSection">
    {% for section in studentGroups %}
    <div class="group">
        <button data-bs-toggle="collapse" type="button" data-bs-target="#section{{ section[0] }}" class="grouping student" style="background-color: #818589;">
            <h4 style="margin-left: 0;">
              <img src="/static/img/down-arrow.png" alt="arrow" style="width: 20px; height: 20px;" class="arrow">
              {{ section[0] }}
            </h4>
        </button>
        <div id="section{{ section[0] }}" class="collapse">
            {% for group in section[1] %}
                <div style="margin: 0px 10px;">
                    <button data-bs-toggle="collapse" type="button" data-bs-target="#group{{group[0]}}" class="student" style="background-color: #D3D3D3;">
                        <h5 style="margin-left: 0;">
                            <img src="/static/img/down-arrow.png" alt="arrow" style="width: 20px; height: 20px;" class="arrow">
                            Group  {{ group[0] }}
                        </h5>
                    </button>   
                    <div id="group{{group[0]}}" class="collapse" style="margin:0 10px;">
                        {% for student in group[1:] %}
                            <button data-bs-toggle="collapse" type="button" data-bs-target="#student{{ student[0] }}" class="student">
                                <img src="/static/img/down-arrow.png" alt="arrow" style="width: 20px; height: 20px;" class="arrow">
                                {{ student[1] }}
                            </button>
                            <div id="student{{ student[0] }}" class="collapse studentReviews">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Groupmate ID</th>
                                            <th>Groupmate Name</th>
                                            <th>Average Rating</th>
                                            {% if student[3] %}
                                                <th>Ratings Given</th>
                                                <th>Comments</th>
                                            {% endif %}                                      
                                        </tr>
                                    </thead>    
                                    <tbody>
                                        {% for groupmate in group[1:] %}
                                            <tr>
                                                <td class="studentData">{{ groupmate[0] }}</td>
                                                <td class="studentData">{{ groupmate[1] }}</td>
                                                <td class="studentData" id="avg{{groupmate[0]}}">{{ groupmate[2] }}</td>
                                                {% if student[3] %}
                                                    {% for rating in student[3] %}
                                                        {% if rating[0] == groupmate[0] %}
                                                            <td class="studentData">{{ rating[1] }}</td>
                                                            <td class="studentData">{{ rating[2] }}</td>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                {% if student[3] %}
                                <div class="lower-section">
                                    <div class="lecturerForm">
                                        <form action="/lecturerRating" method="post" style="width: 100%;">
                                            <input type="hidden" name="studentId" value="{{ student[0] }}">
                                            <input type="hidden" name="courseId" value="{{ section[-1] }}">
                                            <input type="hidden" name="courseCode" value="{{ subjectCode }}">
                                            <input type="hidden" name="courseName" value="{{ subjectName }}">
                                            <input type="hidden" name="sectionId" value="{{ section[0] }}">
                                            <div style="padding:auto; display: flex;align-items: center;padding: auto;">
                                                <label for="lecturerRating{{ student[0] }}" style="margin: 0 5px 0 100px;">Lecturer Rating:</label>
                                                <input type="text" id="lecturerRating{{ student[0] }}" name="lecturerRating" style="margin: 0 70px 0 5px;display: inline;">
                                                <button id="avgBtn" class="adjustAvg" data-student-id="{{ student[0] }}" style="align-items: center; padding: auto; margin: 0 8px 0 70px; display: flex;">Match Average</button>
                                                <button id="submitBtn" type="submit" name="submitLectRating" style="margin: 0 0 0 8px;">Submit</button> 
                                            </div>
                                        </form>
                                        <form action="/finalMarkCalculations" method="post">
                                            <input type="hidden" name="studentId" value="{{ student[0] }}">
                                            <input type="hidden" name="courseId" value="{{ courseId }}">
                                            <input type="hidden" name="courseCode" value="{{ subjectCode }}">
                                            <input type="hidden" name="courseName" value="{{ subjectName }}">
                                            <input type="hidden" name="sectionId" value="{{ section[0] }}">
                                            <button type="submit" id="finalMarkCalculator" name="finalMarkCalculator" style="margin: 0 0 0 8px;">Final Mark Calculator</button>
                                        </form>
                                    </div>
                                    <div class="selfAssessment">
                                        <h5>Self-assessment for {{ student[1] }}</h5>
                                        {% for assessment in student[4] %}
                                        <div class="assessmentAnswer">
                                            <p>Question: {{ assessment[2] }}</p>
                                            <p>Answer: {{assessment[3]}}</p>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                {% endif %} 
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
<div id="deleteCourse">
    <form id="deleteCourseForm" action="/deleteCourse" method="post">
        <input type="hidden" name="courseCode" value="{{subjectCode}}">
        <input type="hidden" name="courseName" value="{{subjectName}}">
        <button type="submit" style="background-color:red;box-shadow: rgba(99, 99, 99, 0.5) 0px 2px 8px 0px; margin: 10px; border-radius: 5px;color: white;">Delete Course</button>
    </form>
</div>

<div id="confirmationModal" class="modal">
    <div class="modal-content">
        <div style="justify-content: right; padding: auto;">
            <span class="close">&times;</span>
        </div>
        
        <p>Are you sure you want to delete this course?</p>
        <button id="confirmDelete" class="modal-button">Yes</button>
        <button id="cancelDelete" class="modal-button">No</button>
    </div>
</div>
{% endif %}
{% endblock %}
